body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ddd;
    transition: all .1s ease;
}
header {
    position: fixed;
    top: 0;
    background-color: teal;
    width: 100%;
    height: 39px;
    padding: 0 10px;
    display: none;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
header h5{
    margin: 0;
    font-size: 20px;
}
header #open, #close,  #title{
    color: #fff;
    display: flex;
    align-items: center;
}
header #open{
    display: none;
}
header #open.active{
    display: inherit;
}
header #close{
    display: none;
}
header #close.active{
    display: inherit;
}
header img{
    width:30px;
    height:30px;
    border-radius: 15px;
    margin-right: 1rem;
}
footer{
    width: 100%;
    height: 40px;
    background-color: teal;
    padding: 5px;
    display: none;
}
footer #aside_icon{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
footer #aside_icon a{
    color: #fff;
}
footer #aside_icon a:hover{
    transform: scale(1.1);
    color: #0099e6;
}
/* -------------------------  slide bar ------------------------------------------- */
aside{
    background-color: #006666;
    text-align: center;
    color: #fff;
    padding: 2rem;
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    width: 20%;
    top: 0;
    left: 0;
    z-index: 99;
}
aside img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #fff;
    margin: auto;
}
aside #menu a{
    display: block;
    border-bottom: 1px solid #fff;
    padding: 1.5rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .25s linear;
}
aside #menu a:hover{
    background-color: #fff;
    color: #333;
}
aside #menu a.active{
    background-color: #fff;
    color: #333;
}
aside #aside_icon{
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
}
aside #aside_icon a{
    color: #fff;
}
aside #aside_icon a:hover{
    transform: scale(1.1);
    color: #0099e6;
}
/* ---------------------------- main ------------------------------------------------------ */
main{
    position: absolute;
    top: 0;
    right: 0;
    left: 20%;
    height: 100vh;
    background-color: #ddd;
    overflow: auto;
}
main #icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
main #icons img{
    width: 50px;
    height: 50px;
}
main a{
    text-decoration: none;
    color: blue;
}
main a:hover{
    text-decoration: none;
    color: #0099e6;
}
.section{
    background-color: #fcfcfc;
    padding: 2.5rem 1rem;
    margin: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    top: 40px;
}
.section:nth-last-child(1){
    margin-bottom: 50px;
}
.section_content{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-row-gap: 20px;
}
.section_content div:nth-child(odd) {
    border-right: 1px solid #000;
    text-align: justify;
    direction:rtl;
    padding-right: 2rem;
}
.section_content div:nth-child(even){
    border-left: 1px solid #000;
    padding-left: 2rem;
    text-align: justify;
    direction: ltr;
}
#contact .section_content i{
    display: none;
}
hr {
    margin: 5px;
}
h3, h4, h5{
    font-weight: bolder;
}
@media screen and (max-width:768px){
    header{
        display: flex;
    }
    aside{
        width: 100%;
        height: auto;
        transform: translateY(-100%);
        transform-origin: top;
        transition: all .5s linear;
        top: 39px;
    }
    aside #menu a{
        border-bottom-style: none;
        padding: 1rem;
    }
    aside.active{
        width: 100%;
        height: auto;
        transform: translateY(0);
    }
    aside figure, aside #aside_icon{
        display: none;
    }
    main{
        top: 40px;
        left: 0;
        overflow: unset;
    }
    main .section_content{
        display: grid;
        grid-template-columns: 1fr;   
        grid-row-gap: 20px;
    }
    .section_content div {
        border: 1px solid #ddd !important;
        direction:ltr !important;
        padding: 1rem !important;
    }
    main #icons{
        display: none;
    }
    #contact .section_content i{
        display: inherit;
    }
    h3{
        font-size:21px;
    }
    footer{
        display: block;
    }
}