body{
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background-color: #ddd;
}


/* -------------------------  slide bar ------------------------------------------- */
aside{
    background-color: #006666;
    text-align: center;
    color: #fff;
    padding: 1rem;
    box-sizing: border-box;
    position: fixed;
    height: 100vh;
    width: 20%;
    top: 0;
    left: 0;
}
aside img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
aside #menu a{
    display: block;
    border-bottom: 1px solid #fff;
    padding: 1rem;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .25s linear;
}
aside #menu a:hover{
    background-color: #fff;
    color: #333;
}
aside #aside_icon{
    display: flex;
    justify-content: space-around;
    padding: 2rem 1rem;
}
aside #aside_icon a{
    color: #fff;
    transition: all .25s linear;
}
aside #aside_icon a:hover{
    transform: translateY(-5px);
}
/* ---------------------------- main ------------------------------------------------------ */
main{
    position: absolute;
    top: 0;
    right: 0;
    left: 20%;
    height: 100vh;
    background-color: #ddd;
    overflow: auto;
}
main #icons{
    display: flex;
    justify-content: center;
    align-items: center;
}
main #icons img{
    width: 75px;
    height: 75px;
}
main a{
    text-decoration: none;
    color: blue;
}
main a:hover{
    text-decoration: none;
    color: #0099e6;
}
.about, .contact, .skill, .experience, .academics, .projects{
    display: grid;
    grid-template-columns: 1fr 1fr;   
    grid-row-gap: 20px;
}
.about div:nth-child(odd), .skill div:nth-child(odd), .academics div:nth-child(odd), .contact div:nth-child(odd), .experience div:nth-child(odd), .projects div:nth-child(odd){
    border-right: 1px solid #000;
    text-align: justify;
    direction:rtl;
    padding-right: 2rem;
}
.about div:nth-child(even), .skill div:nth-child(even), .academics div:nth-child(odd), .contact div:nth-child(even), .experience div:nth-child(even), .projects div:nth-child(even){
    border-left: 1px solid #000;
    padding-left: 2rem;
    text-align: justify;
    direction: ltr;
}
#about td, th{
    padding-bottom: 10px;
}
#about, #contact, #academics, #skill, #experience, #projects{
    background-color: #fcfcfc;
    padding: 1rem;
    margin: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
    min-height: 100vh;
}

#menu-btn{
    position: fixed;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;
    background-color: #000;
    display: none;
    z-index: 99;
}
#menu-btn p{
    background-color: #fff;
    width: 1.5rem;
    height: 5px;
    margin:  4px auto;
}
/* .navbar{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: teal !important;
    z-index: 99;
}
.navbar a{
    color: #fff !important;
}
.navbar .navbar-toggle{
    border-color: #fff !important;
}
.navbar .icon-bar{
    background-color: #fff !important;
}
@media screen and (max-width:768px){
    aside{
        display: none;
    }
    main{
       left: 0;
    }
    .navbar{
        display: inherit;
    }
} */